@import url("./global.css");

body{
    background-color: var(--color-gray4);
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;
    font-family: var(--font-family-alexandria);
}

.nav-header ul{
    display: flex;
    flex-direction:row;
    gap: 40px;
}

.nav-header ul li a{
    color: var(--color-gray1);
}

.nav-header ul li .active{
    color: var(--color-white);
}

.container-btn-header{
    display: flex;
    gap: 16px;
    align-items: center;
}

.btn-login{
    color: var(--color-white);
    padding:8px 24px;
}

.btn-primary{
    background-color: var(--color-green);
    color:var(--color-gray4);
    padding: 10px 24px;
    border-radius: 40px;
    color: #000;
}