@import url("./global.css");

body {
    background-color: #000;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;
    font-family: var(--font-family-alexandria);
}

.nav-header ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.nav-header ul li a {
    color: var(--color-gray1);
}

.nav-header ul li .active {
    color: var(--color-white);
}

.container-btn-header {
    display: flex;
    gap: 16px;
    align-items: center;
}

.btn-login {
    color: var(--color-white);
    padding: 8px 24px;
}

.btn-primary {
    background-color: var(--color-green);
    color: var(--color-gray4);
    padding: 10px 24px;
    border-radius: 40px;
    color: #000;
}

main {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 60px 0px;
    align-items: center;
}

.content-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 568px;
}

.content-main span {
    display: flex;
    align-self: self-start;
    gap: 8px;
    font-family: var(--font-family-alexandria);
    padding: 10px 12px;
    border: 1px solid var(--color-gray2);
    border-radius: 24px;
    color: var(--color-green);
    font-size: var(--font-size-text2);
}

h1 {
    color: var(--color-white);
    width: 521px;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-title1);
}

.content-main p {
    color: var(--color-gray1);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-subtitle);
}

.container-btn-main {
    display: flex;
    gap: 20px;
    font-family: var(--font-family-alexandria);
    align-items: center;
}

.btn-green {
    color: #000;
    background-color: var(--color-green);
    border-radius: 40px;
    padding: 14px 24px;
    font-size: var(--font-size-button);
}

.btn-secondary {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 14px 24px;
    color: var(--color-white);
    font-size: var(--font-size-button);
    border: 1.5px solid var(--color-gray2);
    border-radius: 40px;
}

.section-partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: var(--color-gray4);
    padding: 40px 0px;
}

.section-partners h2 {
    color: var(--color-gray1);
    font-size: var(--font-size-text1);
    font-family: var(--font-family-alexandria);
}

.container-images-partners {
    display: flex;
    gap: 50px;
}

.section-breakdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0px;
    gap: 60px;
}

.content-breakdown {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}

.content-breakdown span {
    color: var(--color-green);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text2);
    border: 1px solid var(--color-gray3);
    padding: 12px 20px;
    border-radius: 24px;
}

.content-breakdown h2 {
    color: var(--color-white);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-title2);
    font-weight: 400;
}

.content-breakdown p {
    color: var(--color-gray1);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-button);
    width: 572px;
    text-align: center;
}

.container-breakdown-cards {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.card-breakdown {
    display: flex;
    gap: 36px;
    padding: 48px 36px;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--color-gray3);
    border-radius: 12px;
    background-color: #FFFFFF04;
}

.card-breakdown div {
    display: flex;
    gap: 16px;
    flex-direction: column;
    text-align: center;
}

.card-breakdown div h3 {
    color: var(--color-white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-subtitle);
    font-weight: 400;
}

.card-breakdown div p {
    width: 338px;
    color: var(--color-gray1);
    font-size: var(--font-size-text1);
    font-family: var(--font-family-alexandria);
}

.section-statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-gray4);
    padding: 60px 0;
    gap: 60px;
}

.content-statistics {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.content-statistics span {
    color: var(--color-green);
    font-family: var(--font-family-alexandria);
    font-weight: 400;
    border: 1px solid var(--color-gray3);
    padding: 12px 20px;
    border-radius: 24px;
}

.content-statistics h2 {
    color: var(--color-white);
    font-family: var(--font-family-alexandria);
    font-weight: 400;
    font-size: var(--font-size-title2);
    text-transform: capitalize;
}

.content-statistics p {
    color: var(--color-gray1);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-button);
    width: 644px;
    text-align: center;
    line-height: 140%;
}

.container-number-statistics {
    display: flex;
    gap: 72px;
}

.number-statistics {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    text-transform: capitalize;
}

.number-statistics h3 {
    font-size: var(--font-size-title1);
    color: var(--color-green);
    font-family: var(--font-family-alexandria);
    font-weight: 400;
}

.number-statistics p {
    color: var(--color-gray1);
    font-size: var(--font-size-subtitle);
    font-family: var(--font-family-inter);
}

.section-blockchain {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 60px 0px;
}

.container-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container-feature span {
    color: var(--color-green);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text2);
    border: 1px solid var(--color-gray3);
    padding: 12px 20px;
    border-radius: 24px;
}

.container-feature h2 {
    color: var(--color-white);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-title2);
    font-weight: 400;
    text-transform: capitalize;
}

.container-feature p {
    color: var(--color-gray1);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-button);
    text-align: center;
    width: 644px;
}

.container-blockchain {
    display: flex;
    gap: 70px;
}

.container-cards {
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.card-blockchain {
    display: flex;
    gap: 24px;
    padding: 30px 20px;
    background-color: var(--color-gray4);
    border: 1px solid var(--color-gray2);
    border-radius: 24px;
    width: 624px;
}

.container-cards-blockchain {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 530px;
}

.container-cards-blockchain h3 {
    color: var(--color-white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-subtitle);
    font-weight: 400;
}

.container-cards-blockchain p {
    color: var(--color-gray1);
    font-family: var(--font-family-alexandria);
}

.section-questions {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    padding: 62px 0px;
    background-color: var(--color-gray4);
}

.container-faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container-faq span {
    color: var(--color-green);
    font-size: var(--font-size-text2);
    font-family: var(--font-family-alexandria);
    border: 1px solid var(--color-gray3);
    border-radius: 24px;
    padding: 12px 20px;
}

.container-faq h2 {
    color: var(--color-white);
    font-size: var(--font-size-title2);
    font-weight: 400;
    font-family: var(--font-family-alexandria);
}

.container-faq p {
    color: var(--color-gray1);
    font-size: var(--font-size-button);
    font-family: var(--font-family-inter);
    width: 644px;
    text-align: center;
}

.container-cards-faq {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cards-faq {
    display: flex;
    gap: 34px;
    padding: 16px 20px;
    width: 792px;
    justify-content: space-between;
    border: 1px solid var(--color-gray3);

}

.cards-faq h3 {
    font-family: var(--font-family-alexandria);
    color: var(--color-white);
    font-weight: 400;
}

.contatiner-revolutionary {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
}


.contatiner-revolutionary span{
    color: var(--color-green);
    padding: 12px 20px;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text2);
    border: 1px solid var(--color-gray3);
    border-radius: 24px;
    width: 137px;
}

.contatiner-revolutionary h2{
    color: var(--color-white);
    font-size: var(--font-size-title2);
    font-weight: 400;
    width: 756px;
    text-align: center;
    font-family: var(--font-family-alexandria);
    text-transform: capitalize;
}

.contatiner-revolutionary p{
    font-size: var(--font-size-button);
    color: var(--color-gray1);
    font-family: var(--font-family-inter);
    width: 644px;
}

.contatiner-revolutionary a{
    background-color: var(--color-green);
    padding: 14px 22px;
    color:#000;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-button);
}



